// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$blue: #5576FF;
$lightgrey: #e2e2e2;
$lightbkggrey: #f7f7f7;
$darkgrey: #565656;
$yellow: #ffe83a;
$grey: #7C7C7C;
$background: #F9FBFF;



h1, p{
  font-family: 'Karla', sans-serif;
}

.hamburger{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: $blue;
}

.nextbtn{
  padding: 10px;
  width: 180px;
  display: block;
  max-width: 300px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width : 400px){
    .nextbtn{
      margin-right:auto;
      margin-left: auto;
    }
}

.bluebutton{
  font-family: 'Karla', sans-serif;
  background-color: $blue;
  font-weight: bold;
  color: white;
}

.bluebutton:active{
  background-color: white !important;
  color: $blue !important;
  border: 1px solid $blue;

}

.whitebutton{
  font-family: 'Karla', sans-serif;
  background-color: white;
  border: 1px solid $blue;
  color: $blue;
  font-weight: bold;
}

.whitebutton:active{
  color: white;
}

.button-ios.activated{
  background-color: $blue;
  color: white;
}

.center{
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

.buttonicon{
  height: 25px;
}

.icononlybtn{
  background-color: white !important;
  color: none;
  outline: none;
}

.nomargin{
  margin: 0px;
}

.searchbar-ios{
  background: $grey;
}

.OBtitle{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
}

.list-ios .item-block .item-inner {
    border-bottom: none !important;
}

.profilecard{
  display: block;
  background-color: white;
  border: 1px solid $lightgrey;
  border-radius: 12px;
  contain: auto;
  padding: 10px;
  float: left;
  width: 100%;
  box-shadow: 0px 1px 2px $lightgrey;
}
@media screen and (max-width: 375px) {
    .profilecard {
        max-width: 155px;
    }
}

.profileitem{
  float: left;
  width: 45%;
  overflow: visible;
  margin: 2.5%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .profileitem {
        width: 28.5%;
        margin-left: 2.3%;
    }
}
@media screen and (min-width: 1025px){
    .profileitem {
        width: 21%;
        margin-left: 1.5%;
    }
}

.home_profilepic{
  margin-right: 16px;
  height: 60px;
  width: 60px;
  border: 1px solid $lightgrey;
  border-radius: 50%;
}

.cardline{
  width: 100%;
  height: 1px;
  background-color: $lightgrey;
}

.tutorresults{
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.resulttext{
  font-size: 16px;
  color: $grey;
  font-weight: bold;
  margin-top: 0px;
}

.card_name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 10px;
}
.card_info{
  margin-bottom: 5px;
  margin-top: 6px;
}

.list-md .item-block .item-inner{
  border-bottom: none !important;
}


.swiper-container{
  overflow: auto;
}

.scroll-content{
  overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}
