.OBtitle{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
}

.img{
  background: none;
  contain: none;
  height: auto;
  text-align: center;
  display: block;
  margin: auto;
}

#studentimg{
  padding-bottom: 8px;
  width: 60%;
}

#tutorimg{
  padding-bottom: 5px;
  width: 65%;
}

.fulldiv{
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.vertical_side{
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width : 600px){
    .vertical_side{
      height: 50vh;
      margin-left: 5%;
      margin-right: 5%;
      width: 40% !important;
      float:left;
    }
    #studentimg{
      width: 350px;
    }

    #tutorimg{
      width: 350px;
    }
    .img{
      position: absolute;
      bottom: 60px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .whitebtn{
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .choicenext{
      padding-top: 100px !important;
    }
}

.whitebtn{
  color: $blue;
  background-color: white;
  font-family: 'Karla', sans-serif;
  border: 2px solid $blue;
  font-weight: bold;
}

.whitebtn:active{
  color: white;
  background-color: $blue;
  border: 2px solid $blue;
}

.choicenext{
  background-color: white;
  box-shadow: none !important;
  color: $blue;
  margin: auto;
  display: block;
}

.choicenext:active{
  background-color: white;
}
