node_modules/
*.swp
*.DS_Store
Pods/
package-lock.json
.directory
ionic-BigBlueTutor/www/
ionic-BigBlueTutor/platforms/
ionic-BigblueTutor/.sourcemaps/
ionic-BigBlueTutor/plugins
*.apk
*.keystore
env.ts
debug-signing.properties
.sourcemaps
.env
