page-message {
  #header {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-left: 55px;
  }
  .username{
      margin: auto;
      width: 100%;
  }
  .messageheader{
    display: flex;
    height: 100px;
    padding: 15px;
    background-color: white;
  }
  #requestButton{
    font-size: 12px;
    width: 75px;
    height: 45px;
    margin-left: auto;
  }
  .inputmessage{
    width: 100%;
    margin: auto;
    padding-left: 20px;
  }
  .messagefield{
    border-top: 1px solid $grey;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .msgsend{
      font-size: 14px;
      width: 80px;
  }
  .sentmsgfield{
    background-color: $lightgrey;
    min-height: calc(100vh - 147px);
    margin-bottom: 48px;
    border: none;
    overflow: auto;
  }
  .sessionmsg{
    text-align: center;
  }

  .sessionreq{
    display: block;
    width: 230px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .reqtext{
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    overflow: inherit;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
  }
  .msg_bbbsession_buttons{
    margin: auto;
    vertical-align: middle;
  }
  .msg_bbbsession_title{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: inherit;
    border-radius: 12px 12px 0px 0px;
    background-color: $blue;
    text-align: center;
    height: 32px;
    vertical-align: middle;
    line-height: 32px;
    overflow: auto;
  }
  .msg_bbbsession_body{
    margin-top: -1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;

    background-color: white;
    width: inherit;
    height: 70px;
    border: 1px solid $blue;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: center;
  }
  .textusername{
    display: inline-block;
  }
  .myusername{
    margin-right: 8px;
    margin-left: 16px;
    float: right;
    vertical-align: bottom;
  }
  .otherusername{
    margin-right: 16px;
    margin-left: 8px;
  }
  .message{
    background-color: $lightgrey;
    display: flex;
    display: inline-block;
  }
  .textmessagebox{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    max-width: 60vw;
  }
  .othertextmsgbox{
    background-color: #dddddd;
    border-radius: 2px 10px 10px 10px;
  }
  .mytextmsgbox{
    background: linear-gradient(left, #7791FB, #264CEC);
    background: -webkit-gradient(linear, left top, right top, from(#7791FB), to(#264CEC));
    background-color: #264CEC;
    float: right;
    border-radius: 10px 2px 10px 10px;
  }
  .textmessage{
    font-weight: 500;
  }
  .mytextmsg{
    color: white !important;
  }
  .othertextmsg{
    color: black;
  }
  .mymessages{
    float: right;
  }
  .input-wrapper{
  }
  ion-label{
    white-space: normal;
    overflow: visible;
  }
}
