page-onboarding{
  .OBpage{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .OBcontainer{
      width: 80vw;
      margin: auto;
      display: block;
      max-width: 500px;
      overflow: auto;
  }
  .OBTitle{
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: $blue;
  }
  .bioInput{
    border: 2px solid $lightgrey;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 70px;
    height: 50vh;
  }
  .bioTextBox{
    height: 45vh;
    overflow-y: scroll;
    overflow-x: auto;
  }
  .registerbtn{
    margin-bottom: 50px;
  }
  .slide-zoom{
    padding-bottom: 50px !important;
  }
  .onboarding .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20%;
  }
  .OBbuttondiv{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 80vw;
    max-width: 500px;
    justify-content: center;
  }
  .gradeLevel{
    width: 100%;
    height: 50vh;
    display: flex;
    margin-bottom: 65px;
  }
  .gradecol{
    margin-top: 50px;
  }

  @media screen and (min-width: 768px) {
    .bioInput{
      height: 35vh;
    }
    .bioTextBox{
      height: 30vh;
      overflow-y: scroll;
      overflow-x: auto;
    }
    .gradeLevel{
      height: 35vh;
    }
    .gradecol{
      margin-left: 0%;
      margin-right: 0%;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .gradebutton{
      margin-top: 50px;

    }
    .onboarding .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 28%;
    }
    .registerbtn{
      margin-bottom: 70px;
    }
  }
  .gradebutton{
    margin: 10px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid $lightgrey;
    height: 95px;
    width: 110px;
  }
  .gradeimg{
    height: 50%;
    width: auto;
  }
  .gradetext{
    margin-top: 8px;
    margin-bottom: 0px;
  }
}
