.menu{
    background: linear-gradient(to right,#5e8eff, #264cec);
}

#menuline{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 1px;
  border-radius: 1px;
  background-color: white;
}
.space{
  height: 10px;
  width: 100%;
}

.menulogo{
  display: block;
  background-color: transparent;
  margin-top: 15vh;
  margin-bottom: 50px;
  text-align: center;
}

.menulogoimg{
  background: none;
  width: 40%;
  height: auto;
  max-width: 200px;
  contain: none;
}

.menuOption{
  background: transparent;
  border: none;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menuText{
  color: white;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold !important;
  font-size: 24px !important;
}

.item-inner{
  border-bottom: none !important;
}

.menunotif{
    width: 30px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}
